CLIENT_GATEWAY_PORT=3000



# ENV PAYMENTS-MICROSERVICE
PAYMENTS_MICROSERVICE_PORT=3003

STRIPE_SECRET_KEY=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/payments
# desde la consola de webhook extraer el signing secret
STRIPE_ENDPOINT_SECRET=