[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/NestJS-Microservices-Curso-ejais58/client-gateway.git
[submodule "orders-microservice"]
	path = orders-microservice
	url = https://github.com/NestJS-Microservices-Curso-ejais58/orders-microservice.git
